// Tags
// --------------------------------------------------
h1, h2, h3, h4, h5, h6 { margin: 20px 0 10px; }

p { margin: 0 0 15px 0; }

ol, ul{
	margin: 0 0
}
p+ol {
	margin-top: -15px;
}
p+ul {
	margin-top: -15px;
}

ol+p {
	margin-top: 10px;
}

ul+p {
	margin-top: 10px;
}

a { border-bottom-color: $grey-light; }

hr {
  margin: 20px 0;
  height: 2px;
}

ul li { list-style: circle; }
