// Post Expanded
// --------------------------------------------------

.posts-expand > div {
  box-shadow: 0px 0px 1px 1px #d3d3d3
  border-radius: 8px;
  background: #fff;
  padding: 20px;

}

#About_Me {
  box-shadow: 0px 0px 1px 1px #d3d3d3
  border-radius: 8px 8px 0px 0px;
  background: #fff;
  padding: 20px;
  border-bottom: 1px #fff;
  margin-bottom: 0px;

}
.posts-expand > ul {
  box-shadow: 0px 0px 1px 1px #d3d3d3
  border-radius: 0px 0px 8px 8px ;
  background: #fff;
  padding: 20px;
  padding-left: 40px;
  border-top: 1px #fff;
}



.posts-expand {
  

  .post-title,
  .post-meta {
    text-align: $site-meta-text-align;
    +mobile() { text-align: center; }
  }
  .post-eof { display: none; }

  .post { margin-top: 40px; }
  .post:first-child { margin-top: 0; }

  .post-meta {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .post-title {
    position: relative;
    font-size: $font-size-headings-base;
    font-weight: 400;
    +mobile() { font-size: $font-size-headings-smaller; }
    +desktop-large() { font-size: $font-size-headings-large; }
  }
  .post-title:hover:before { background: $black-deep; }

  .post-body img { margin: 0; }

  .post-tags {
    text-align: left;
    a {
      padding: 1px 5px;
      background: $whitesmoke;
      border-bottom: none;
    }
    a:hover { background: $grey-light; }
  }
  .post-nav { margin-top: 40px; }
}

.post-more-link {
  margin-top: 20px;
  text-align: left;

  a {
    padding: 0;
    font-size: $font-size-base;
    color: #CFD8DC;
    background: #455A64; 
    border: none;
    
    transition-property: border;

    +mobile() { font-size: $font-size-small; }
    +desktop-large() { font-size: $font-size-large; }

    line-height: 1;
    padding: 5px;
    border-radius: 4px;
    &:hover { 
        color: #FFFFFF;
        background: #455A64; 
    }
  }
}
